.button {
    font-family: var(--mainFont);
    padding: .8rem 2rem;
    background: inherit;
    color: #bb1313;
    border: 2px solid #bb1313;
    border-radius: 1rem;
}

.primary {
    background: #bb1313;
    color: #f0f8ff;
    border: none;
}