:root {
    // Fonts Variables
    --titleFont: 'Bungee', cursive;
    --mainFont:  'Poppins', sans-serif;

    // Colors Variables
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
